body{
    background-color: black;
}

header{
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    text-shadow:
            1px 1px 2px black,
            0 0 1em blue,
            0 0 0.2em blue;
    color: white;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    font-size: 1.5vw;
    color: antiquewhite;
    vertical-align: top;
    margin: 0 40px;
    text-decoration: none;
    transition: color .1s linear ;
}

.nav__link:hover {
    color: darkslategray;
}

.current_location{
    display: inline-block;
    font-size: 1.5vw;
    color: antiquewhite;
    vertical-align: top;
    margin: 0 40px;
    transition: color .1s linear ;
}

.load_time {
    font-size: 1.3vw;
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
}

@media (max-width: 1400px){
    .nav__link {
        margin: 0 30px;
    }

    .current_location {
        margin: 0 30px;
    }
}

@media (max-width: 1100px){
    .nav__link {
        margin: 0 25px;
    }

    .current_location {
        margin: 0 25px;
    }
}

@media (max-width: 1025px){
    .nav__link {
        margin: 0 20px;
    }

    .current_location {
        margin: 0 20px;
    }
}

@media (max-width: 830px){
    .nav__link {
        margin: 0 15px;
    }

    .current_location {
        margin: 0 15px;
    }

    .load_time {
        display: none;
    }
}

@media (max-width: 735px){
    .header__logo {
        display: none;
    }

    .current_location {
        font-size: 2vw;
        margin: 0 12px;
    }

    .nav__link {
        font-size: 2vw;
        margin: 0 12px;
    }
}


.modal-content {
    background-color: red;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

p {
    font-size: 25px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}