body{
    background-color: black;
}

.current_location{
    display: inline-block;
    font-size: 20px;
    color: antiquewhite;
    vertical-align: top;
    margin: 0 50px;
    transition: color .1s linear ;
}

.current_location:hover {
    color: darkslategray;
}

.header{
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    text-shadow:
            1px 1px 2px black,
            0 0 1em blue,
            0 0 0.2em blue;
    color: white;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    font-size: 20px;
    color: antiquewhite;
    vertical-align: top;
    margin: 0 50px;
    text-decoration: none;
    transition: color .1s linear ;
}

.nav__link:hover {
    color: darkslategray;
}